.centerlogo{
    width: 100px;
}

.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%; /*don't forget prefixes*/
   // background-image: url("path/to/image");
    background-position: center center;
    /* as mentioned by Vad: */
    background-size: cover;
}
.pointer {cursor: pointer;}

$topnav-background-color: rgb(148, 92, 24);
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
        padding:0px;
        margin:0px;
        color: rgb(95, 62, 62);
        }
        .nav-item > a {
            color: rgb(218, 216, 216);
            &:hover {
                color: #fff;
            }
        }
    }
}
